{
    "java.configuration.runtimes": [
        {
            "name": "JavaSE-21",
            "path": "C:/Program Files/Java/jdk-21",
            "default": true
        }
    ],
    "java.compile.nullAnalysis.mode": "automatic",
    "java.codeGeneration.insertionLocation": "afterCursor",
    "java.sources.organizeImports.staticStarThreshold": 5,
    "java.sources.organizeImports.starThreshold": 5,
    "editor.tabSize": 4,
    "editor.insertSpaces": true,
    "editor.detectIndentation": false,
    "files.exclude": {
        "**/build": true,
        "**/.gradle": true,
        "**/run": true,
        "**/*.class": true
    },
    "java.format.settings.url": "https://raw.githubusercontent.com/google/styleguide/gh-pages/eclipse-java-google-style.xml",
    "java.format.settings.profile": "GoogleStyle"
}